
html {
  height: 100%;
}

body {
  background: #06beb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

div #gifs-view, div #gifs-viewPG, div #gifs-viewPG-13 {
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  text-decoration: underline;
}

div #container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 6em;
  text-align: center;
}

label {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

input #gif-input {
  text-align: center;
}

form #gif-form{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex;
}

div #buttons-view {
  justify-items: space-around;
  
}

div #main-container {
  justify-items: center;
  width: 85%;
  align-items: center;
}

.gif-btn {
  justify-content: space-around;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.2em .7em;
  margin: 0.2em 0.2em;
  box-shadow: 0 6px #5f5f5e;
}

.gif-btn:hover {
  box-shadow: 0 4px #5f5f5e;
  top: 2px;
}

.gif-btn:active {
  box-shadow: 0 0 #5f5f5e;
  top: 6px;
}

#add-gif {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #FF3030;
  box-shadow: 0 6px #5f5f5e;
}
#add-gif:hover {
  box-shadow: 0 4px #5f5f5e;
  top: 2px;
}

#add-gif:active {
  box-shadow: 0 0 #5f5f5e;
  top: 6px;
}

@media only screen and (max-width: 480px) {
  div #main-container {
    
    width: 100%;
    
  }
  div .container {
    width: 100%;
  }

  #add-gif {
    font-size: 2em;
  }
}